@page "/aboutme"
@model Chirp.Web.Pages.AboutMeModel
@using Microsoft.AspNetCore.Identity
@using Chirp.Infrastructure

@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<div>
    <h2>About me</h2>
    <p>See information on your account.</p>
    <div class="infobox">
        <p>Username: </p>
        <p>E-mail</p>
        <p></p>
    </div>


</div>