@page "/aboutme"
@model Chirp.Web.Pages.AboutMeModel
@using Microsoft.AspNetCore.Identity
@using Chirp.Infrastructure
@inject SignInManager<Author> SignInManager
    

@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<div>
     @if (SignInManager.IsSignedIn(User))
        {
    <h2>About me</h2>
    <p>See information on your account.</p>
    <div class="infobox">
        <p>Username: @(User.Identity!.Name)</p>
        <p>E-mail</p>
        <p></p>
    </div>
    }
    else
    {
        <h2>Log in to see information about your account</h2>
    }


</div>