@page "/"
@model Chirp.Razor.Pages.PublicModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<div class="form-wrapper">
    <h2> Public Timeline </h2>
    <form method="post" action="/cheep">
        <div class="form-group">
            <label for="message">Message</label>
            <textarea name="message" id="message" cols="50" rows="5" placeholder="What's poppin'?"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Cheep</button>
    </form>
</div>

<style>
    .form-control {
        width: 90%;
        max-width: 800px;
        height: 90px;
        text-align: left;

        box-sizing: border-box;
        vertical-align: top;
    }

    .form-control::placeholder {
        font-size: 1em;
        color: #a92020;
        font-weight: bold;
        padding: 10px;
        /* Adjust the padding as needed */
        line-height: 1.5;
        /* Adjust the line height as needed */

    }
</style>

@if (Model.Cheeps.Any())
{
    <ul id="messagelist" class="cheeps">
        @foreach (var cheep in Model.Cheeps)
        {
            <li>
                <p>
                    <strong>
                        <a href="/@cheep.Author">@cheep.Author</a>
                    </strong>
                    @cheep.Message
                    <small>&mdash; @cheep.Timestamp</small>
                </p>
            </li>
        }
    </ul>
}
else
{
    <em>There are no cheeps so far. Be the first to Cheep a Cheep!</em>
}
</div>
