@media (prefers-color-scheme: dark) {
    body {
        background: #250e0e;
        color: #c4ede9;
    }

    a {
        color: #3cc3b6;
    }

    a:hover {
        color: #adebe4;
    }

    input[type="tel"],
    input[type="text"],
    input[type="email"],
    input[type="password"] {
        background: #0d2624;
        border: 1px solid #274944;
        color: #c4ede9;
    }

    input[type="submit"] {
        background: #0d2624;
        border: 1px solid #3b0707;
        color: white;
    }

    button {
        background: #274944;
        border: 1px solid #3cc3b6;
        color: #3cc3b6;
    }

    div.page {
        background: black;
        border: 1px solid #603939;
    }

    div.page h1.sitename {
        background: #603939;
        text-shadow: 0 0 3px #222222;
    }

    div.page h1 a {
        color: #c4ede9;
    }

    div.page div.navigation {
        background: #1d302d;
        border-top: 1px solid #274944;
        border-bottom: 1px solid #24423e;
        color: #19675d;
    }

    div.page div.navigation a {
        color: #3cc3b6;
    }

    div.page hr {
        color: #24423e;
    }

    div.page h1 {
        color: #cc6e6e;
        text-shadow: 0 1px 2px #555;
    }

    div.page h2 {
        color: #cc6e6e;
        text-shadow: 0 1px 2px #555;
    }

    div.page h3 {
        color: #cc6e6e;
        text-shadow: 0 1px 2px #555;
    }

    div.page h4 {
        color: #cc6e6e;
        text-shadow: 0 1px 2px #555;
    }

    div.page div.footer {
        background: #1d302d;
        color: #4d807a;
    }

    div.page div.followstatus {
        border: 1px solid #ccc;
        background: #E3EBEA;
    }

    div.page ul.cheeps li {
        background: #0d2624;
        border: 1px solid #194d48;
    }

    div.page ul.cheeps li small {
        color: #4d807a;
    }

    div.page div.cheepbox {
        background: #0d2624;
        border: 1px solid #194d48;
    }

    div.page textarea {
    }

    div.page div.cheepbox h3 {
        color: #571010;
        text-shadow: 0 1px 2px #ccc;
    }

    div.message {
        background: #f3b9b9;
        border: 1px solid #ce8181;
    }

    ul.message li {
        background: #f3b9b9;
        border: 1px solid #ce8181;
    }

    div.error {
        background: #FAE4E4;
        border: 1px solid #DD6F6F;
    }

    div.topics {
        background: #ffffff;
        border: 1px solid #e29494;
    }

    li.topic {
        background: #0d2624;
        border: 1px solid #194d48;
    }
}

@media (prefers-color-scheme: light) or (prefers-color-scheme: no-preference) {
    body {
        background: #eccaca;
        color: black;
    }

    a {
        color: #26776F;
    }

    a:hover {
        color: #333;
    }

    input[type="tel"],
    input[type="text"],
    input[type="email"],
    input[type="password"] {
        background: white;
        border: 1px solid #e6c0bf;
        color: #571010;
    }

    input[type="submit"] {
        background: #571010;
        border: 1px solid #3b0707;
        color: white;
    }

    button {
        background: #e6c0bf;
        border: 1px solid #571010;
        color: #571010;
    }

    div.page {
        background: white;
        border: 1px solid #cc6e6e;
    }

    div.page h1.sitename {
        background: #cc6e6e;
        text-shadow: 0 0 3px #772424;
    }

    div.page h1 a {
        color: white;
    }

    div.page div.navigation {
        background: #DEE9E8;
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #eee;
        color: #888;
    }

    div.page div.navigation a {
        color: #444;
    }

    div.page hr {
        color: #ccc;
    }

    div.page h1 {
        color: #571010;
        text-shadow: 0 1px 2px #ccc;
    }

    div.page h2 {
        color: #571010;
        text-shadow: 0 1px 2px #ccc;
    }

    div.page h3 {
        color: #571010;
        text-shadow: 0 1px 2px #ccc;
    }

    div.page h4 {
        color: #571010;
        text-shadow: 0 1px 2px #ccc;
    }

    div.page div.footer {
        background: #eee;
        color: #888;
    }

    div.page div.followstatus {
        border: 1px solid #ccc;
        background: #E3EBEA;
    }

    div.page ul.cheeps li {
        background: #F0FAF9;
        border: 1px solid #DBF3F1;
    }

    div.page ul.cheeps li small {
        color: #888;
    }

    div.page div.cheepbox {
        background: #F0FAF9;
        border: 1px solid #DBF3F1;
    }

    div.page div.cheepbox h3 {
        color: #571010;
        text-shadow: 0 1px 2px #ccc;
    }

    div.message {
        background: #f3b9b9;
        border: 1px solid #ce8181;
    }

    ul.message li {
        background: #f3b9b9;
        border: 1px solid #ce8181;
    }

    div.error {
        background: #FAE4E4;
        border: 1px solid #DD6F6F;
    }

    div.topics {
        background: #ffffff;
        border: 1px solid #e29494;
    }

    li.topic {
        background: #F0FAF9;
        border: 1px solid #DBF3F1;
    }
}

body {
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 14px;
}

input[type="tel"],
input[type="text"],
input[type="email"],
input[type="password"] {
  padding: 2px;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 14px;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

input[type="submit"] {
  padding: 1px 3px;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 14px;
  font-weight: bold;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}

button {
    margin-top: 5px;
    border-radius: 3px;
}

a#delete {
    margin-left: 5px;
    color: red;
    font-weight: bold;
}

div.page {
  width: 700px;
  margin: 30px auto;
}

div.page h1.sitename {
  margin: 0;
  padding: 10px 14px;
  letter-spacing: 1px;
  font-weight: normal;
  font-size: 80px;
}

div.page h1 a {
  text-decoration: none;
}

div.page h1 img {
  height: 1em;
}

div.page div.navigation {
  padding: 4px 10px;
  font-size: 12px;
  letter-spacing: 0.5px;
}

div.page div.navigation a {
  font-weight: bold;
}

div.page h2 {
  margin: 15px 0 10px 0;
}

div.page div.body {
  padding: 10px;
}

div.page div.footer {
  padding: 5px 10px;
  font-size: 12px;
}

div.page div.followstatus {
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  padding: 3px;
  font-size: 13px;
}

div.page ul li {
    list-style: none;
    margin: 0;
    padding-bottom: 5px;
}

div.page ul.cheeps {
  list-style: none;
  margin: 0;
  padding: 0;
}

div.page ul.cheeps li {
  margin: 10px 0;
  padding: 5px;
  border-radius: 2px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  min-height: 48px;
}

div.page ul.cheeps p {
  margin: 0;
}

div.page ul.cheeps li img {
  float: left;
  padding: 0 10px 0 0;
}

div.page ul.cheeps li small {
  font-size: 0.9em;
}

div.page div.cheepbox {
  margin: 10px 0;
  padding: 5px;
  border-radius: 2px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

div.page div.cheepbox h3 {
  margin: 0;
  font-size: 1em;
}

div.page div.cheepbox p {
  margin: 0;
}

div.page div.cheepbox textarea {
  width: 99%;
}

div.page div.cheepbox input[type="submit"] {
  width: 70px;
  margin-left: 5px;
}

div.message {
  list-style: none;
  margin: 10px 10px 0 10px;

  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  padding: 4px;
  font-size: 13px;
}

ul.message li {
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  padding: 4px;
  font-size: 13px;
}

div.error {
  margin: 10px 0;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  padding: 4px;
  font-size: 13px;
}

div.topics {
  width: 180px;
  height: 250px;
  border-radius: 2px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: 460px;
  padding: 10px;
}

ul.topic {
  list-style: none;
  margin: 0;
  padding: 0;
}

li.topic {
  margin: 10px 0;
  padding: 5px;
  border-radius: 2px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  min-height: 20px;
}

ul#page-navigation{
  margin-left: 5px;
  padding: 0;
  list-style:none;
  display:flex;
}

ul#page-navigation li{
  margin-right: 4px;
}

div.page ul#page-navigation a{
  text-decoration: none;
}

div.page li#currentPage a{
  text-decoration: underline;
}
